{% extends 'base3.html.twig' %}
{% block content %}

    <br><br>

    <h3 class="subtitle fancy"><span><a href=""> Services</a></span></h3>
    <br>
<br>
    <center>
        <table >
            <form method="post" style="text-align: center">

                <tr>
                    <td style="font-weight: bold"> Numéro de compte: </td>

                    <td >
                        <select name="numCompte" class="form-control input-focus " style="height: 3%">
                            {% for i in m %}
                            <option  value="{{ i.numCompte }}">{{ i.numCompte }}(TND) {{ i.typeCompte }}</option>

                            {% endfor %}
                        </select></td>
                    </td>
                    <td></td>




                <tr>
                    <td> <br></td>
                    <td><br> </td>

                    <td><br><br><a href="{{ absolute_url(asset('')) }}app_dev.php/atb/search" type="submit" class="btn btn-danger"  >

                            Voir </a>
                    </td>


                    <br>
                </tr>
                <br>

            </form>
        </table></center>



    <br>



    <br><br>




{% endblock %}
